html {
	scroll-behavior: smooth;
}

.filter-blue {
	filter: invert(27%) sepia(91%) saturate(1544%) hue-rotate(181deg)
		brightness(98%) contrast(97%);
}

.card-text {
	font-size: 1em;
}

.icon {
	width: 2em;
	height: 2em;
}

.btnTop {
	background-color: rgba(108, 169, 214, 0.5);
}

/* 
** PUBLICS SECTION
*/
.publics-banner {
	position: relative;
	height: 300px;
	background-attachment: fixed;
	background-image: url(../img/cafe_test.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-blend-mode: saturation;
}
/* 
.publics-banner img {
	height: 100%;
	object-fit: cover;
	filter: brightness(45%);
} */

.publics-banner-content {
	display: flex;
	justify-content: center;
	position: relative;
	top: 50%;
}
.publics-banner-content h3 {
	background-color: rgba(108, 169, 214, 0.5);
	color: white;
	border-radius: 5%;
}

.case {
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.case:nth-child(4n + 2),
.case:nth-child(3n) {
	background-color: rgb(255, 233, 222);
}

.case-title {
	font-size: 3em;
}

.case p {
	font-size: 1.2em;
	max-width: 90%;
}

.case a {
	text-decoration: none;
	color: white;
}

.case button {
	background-color: rgb(108, 169, 214);
}

.case img {
	box-shadow: 7px 4px 6px rgb(68, 86, 99);
}

/* 
** APP PRESENTATION
*/
.app-presentation {
	background-color: rgb(37, 97, 139);
	padding: 40px;
}

.app-presentation p {
	font-size: 1.3em;
	color: white;
}

.app-presentation .banner {
	height: 25vh;
}
